.section {
    background-color: white;
    box-shadow: 0 0 6px #eee;
    margin: 20px 0;
    min-width: 100px;
}

.section__header {
    padding: 20px;
    font-size: 22px;
    border-bottom: 1px solid #eee;
    margin: 0;
    }