.section {
    background-color: white;
    box-shadow: 0 0 6px #eee;
    margin: 10px 0;
    min-width: 100px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    padding: 20px;
    font-size: 22px;
    border-bottom: 2px solid #ddd;
    margin: 0;
    }